# ATARI LYNX

#### Overlay


input_overlay_opacity = "1"
video_fullscreen_x = 1920
video_fullscreen_y = 1080
aspect_ratio_index = 22

video_force_aspect = true
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/lynx_overlay.cfg"

custom_viewport_x = "263"
custom_viewport_y = "85"
custom_viewport_width = "1397"
custom_viewport_height = "894"





