# MASTER SYSTEM

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common.cfg"

# overlay
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/mastersystem_overlay.cfg"

# viewport
custom_viewport_width = 1024
custom_viewport_height = 768
custom_viewport_x = 448
custom_viewport_y = 156

# shader
video_shader_enable = "false"
