# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/dragon32/"

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/generic_monitor.cfg"

#include "/opt/retropie/configs/all/retroarch.cfg"
