# NES

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common.cfg"

# overlay
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/nes_overlay.cfg"

# viewport
custom_viewport_width = 1024
custom_viewport_height = 720
custom_viewport_x = 448
custom_viewport_y = 180

# shader
video_shader_enable = "false"
