# GAME GEAR

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common.cfg"

# overlay
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/gamegear_overlay.cfg"

# viewport
custom_viewport_width = 960
custom_viewport_height = 864
custom_viewport_x = 480
custom_viewport_y = 108

# shaders
video_shader_enable = "false"
