# GBA

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common.cfg"

# overlay
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/gba_overlay.cfg"

# viewport
custom_viewport_width = 1200
custom_viewport_height = 800
custom_viewport_x = 360
custom_viewport_y = 140
