# MEGADRIVE

#include "/opt/retropie/configs/all/retroarch/overlay_cfg/common.cfg"

# overlay
input_overlay = "/opt/retropie/configs/all/retroarch/overlay/systems/megadrive_overlay.cfg"

# viewport
custom_viewport_width = 1280
custom_viewport_height = 896
custom_viewport_x = 320
custom_viewport_y = 92
